body {
    background-color: #ffffff;
    line-height: 1.2em;
    font-size: 18px;
    margin: 10px;
}

p {
    font-family: "Faustina", serif;
    font-weight: normal;
    margin-bottom: 1em;
    text-indent: 30px;
}

p.right-quote {
    text-align: right;
    margin-bottom: 2em;
}

em {
    font-family: "CMUI", serif;
    font-style: italic;
    line-height: 1em;
    font-size: 1em;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

ul li, ol li {
    font-family: "CMUI";
    font-style: normal;
}

h1 {
    font-family: "BowlbyOne", sans-serif;
    font-weight: normal;
    font-size: 1.8em;
    text-align: right;
    margin-bottom: 2em;
    margin-top: 0px;
    line-height: 1.4em;
}

 h1 em {
    font-weight: bold;
}

h2 {
    font-family: "SignikaNegativeSemiBold", sans-serif;
    font-weight: normal;
    font-size: 1.4em;
    margin-top: 1.6em;
    margin-bottom: 1.3em;
}

h3 {
    font-family: "SignikaNegative", sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    text-align: right;
}

h4 {
    font-family: "SignikaNegative", sans-serif;
    font-weight: normal;
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em;
}

h5 {
    font-family: "SignikaNegative", sans-serif;
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 1em;
}

table {
    margin: 0 auto;
}

tr:nth-child(even) {background-color: #f2f2f2;}
th {background-color: #4f4f4f; color: #f2f2f2;}

th, td {
    font-family: "Monda", sans-serif;
    padding: 5px 20px;
    border: 1px;
    text-align: left;
    font-size: smaller;
}
