@font-face {
    font-family: "CMR Serif";
    src: url(../fonts/cmunrm-webfont.woff);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "CMR";
    src: url(../fonts/cmunss.ttf);
    font-style: sans-serif;
    font-weight: normal;
}

@font-face {
    font-family: "CMR";
    src: url(../fonts/cmunti.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "CMR";
    src: url(../fonts/cmunsx.ttf);
    font-style: sans-serif;
    font-weight: bold;
}

body {
    background-color: #ffffff;
    line-height: 1.2em;
    width: 100%;
    font-size: 18px;
}

p {
    font-family: "CMR Serif", serif;
    font-weight: normal;
    margin-bottom: 1em;
    text-indent: 30px;
}

p.right-quote {
    text-align: right;
    margin-bottom: 2em;
}

em {
    font-family: "CMR", italic;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

ul {
    font-family: "CMR Serif";
    font-style: normal;
}

h1 {
    font-family: "CMR", sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

h1 em {
    font-weight: bold;
}

h2 {
    font-family: "CMR", sans-serif;
    font-weight: normal;
    font-size: 1.4em;
    margin-top: 1.6em;
    margin-bottom: 1.3em;
}

h3 {
    font-family: "CMR", sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 1.8em;
    background-image: url(../../images/common.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

h4 {
    font-family: "CMR", sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin-bottom: 1em;
}

h5 {
    font-family: "CMR", sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 1em;
}

table {
    margin: 0 auto;
}

th, td {
    font-family: "CMR", sans-serif;
    padding: 5px 20px;
    border: 1px;
    text-align: left;
}
